<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}}</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />


</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div id="chart_div" class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Deposits, Earnings & Withdraws</h5>
                  </div>
                </div>
                <div id="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <!-- Yearly Breakup -->
                <div class="card overflow-hidden">
                  <div class="card-body p-4">
                    <h5 class="card-title mb-9 fw-semibold">Wallets</h5>
                    <div class="row align-items-center">
                      <div class="col-12">
                        <h4 id="wallet_balance" class="fw-semibold mb-3 text-warning"></h4>
                        <div class="d-flex align-items-center mb-3">
                          <p id="wallet_time"></p>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6">
                            <button id="deposits" type="button" class="btn btn-warning m-1 w-100" data-bs-toggle="modal"
                              data-bs-target="#modal_finance_deposit">Deposit</button>
                          </div>
                          <div class="col-6">
                            <button id="withdraws" type="button" class="btn btn-withdrawal m-1 w-100"
                              data-bs-toggle="modal" data-bs-target="#modal_finance_withdraw">Withdraw</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card overflow-hidden">
                  <div class="card-body p-4">
                    <h5 class="card-title mb-9 fw-semibold">Competitions Entered</h5>
                    <div class="row align-items-center">
                      <div class="container text-center" id="contest-list">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">List of current competitions</h5>
                <div class="table-responsive table-option">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ID</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ContestID</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">StartAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ExpireAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Amount</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Joined</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Balance</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Status</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0"></h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="all-contest-list">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Transaction history</h5>
                <div class="table-responsive table-option">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ID</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Type</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">CreatedAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">UpdatedAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Amount</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Status</h6>
                        </th>
                        <th class="border-bottom-0">
                        </th>
                      </tr>
                    </thead>
                    <tbody id="transaction-list">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_finance_withdraw" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Withdraw</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <p class="text-primary">1 gold is equivalent to 24,000 VND.</p>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input type="number" step="50" value="" class="form-control" placeholder="Amount" aria-label="Amount"
                  aria-describedby="basic-addon1" id="withdraw_amount">
                <span class="input-group-text" id="basic-addon1">Gold</span>
              </div>
            </div>
            <span id="msg_withdraw"></span>
          </form>
        </div>
        <div class="modal-footer">
          <br>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button id="wd_confirmation" type="button" class="btn btn-secondary">Confirmation</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal_finance_deposit" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deposit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <p class="text-secondary">1 gold is equivalent to 24,000 VND.</p>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input type="number" step="50" value="" class="form-control" placeholder="Amount" aria-label="Amount"
                  aria-describedby="basic-addon1" id="deposit_amount">
                <span class="input-group-text" id="basic-addon1">Gold</span>
              </div>
            </div>
            <span id="msg_deposit"></span>
            <button id="create_qr_code" type="button" class="btn btn-secondary w-100">Confirmation</button>
            <div id="qrcode"></div>
          </form>
        </div>
        <div class="modal-footer">
          <br>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-success">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal_transacion_info" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Transaction infomation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="img_qrcode_info"></div>
        </div>
        <div class="modal-footer">
          <br>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-success">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="join_contest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation to join a competition!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="contest_info"></div>
        </div>
        <div class="modal-footer">
          <br>
          <button id="btn_close" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" id="confirm_to_join" class="btn btn-secondary">Join this
            competition</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/assets/js/sidebarmenu.js"></script>
  <script src="src/assets/js/app.min.js"></script>
  <script src="src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="src/assets/js/main.js"></script>
</body>

</html>
