<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}}</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <div class="row">
          <div id="chart_div" class="col-lg-12 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Leader Board</h5>
                  </div>
                </div>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab-contest" role="tablist">

                  </div>
                </nav>
                <div class="tab-content mt-2 border rounder" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <table class="table mb-0 align-middle table-hover w-100">
                      <thead class="fs-4 table-primary">
                        <tr>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">Rank</span>
                          </th>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">ContestID</span>
                          </th>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">Email</span>
                          </th>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">Balance</span>
                          </th>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">Equity</span>
                          </th>
                          <th class="border-bottom-0">
                            <span class="fw-semibold mb-0">FloatingP/L</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="leader_board_infor">

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="src/assets/js/app.min.js"></script>
    <script src="src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="src/assets/js/header.js"></script>
    <script src="src/assets/js/sidebarmenu.js"></script>
    <script src="src/assets/js/leader-board.js"></script>
</body>

</html>
