<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}} - FXChampionship - A Gathering Place for World-Class Traders</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />
  <meta name="description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta name="keywords"
    content="Trader competition prizes, Trading competition entry fee, Professional trading environment, Investment opportunities, Million-dollar investments,Profit sharing, Trader training program, Hedge fund trading, Banking sector opportunities, Financial competition rewards">
  <meta property="og:type" content="website">
  <meta property="og:title" content="FXChampionship - A Gathering Place for World-Class Traders">
  <meta property="og:description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta property="author" content="fxchampionship.com">
  <meta property="generator" content="fxchampionship.com">
  <meta property="og:url" content="https://fxchampionship.com">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image" content="src/assets/images/logos/apple-touch-icon.png">
  <meta property="og:image:alt" content="FXChampionship - A Gathering Place for World-Class Traders">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <div class="card">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-primary">Referral link</h5>
                <div class="partner-link">
                  <div class="input-group mb-2">
                    <input type="text" id="partner-ref" class="form-control" placeholder="ref_link"
                      aria-label="ref_link" aria-describedby="basic-addon2">
                    <button class="input-group-text" id="copy-clipboard"><i id="icon-clipboard"
                        class="ti ti-clipboard"></i></button>
                  </div>
                  <p id="fb_copy" class="text-success"></p>

                </div>
                <h5 class="card-title fw-semibold mb-4 text-primary">Partner Infomations</h5>
                <p id="partner_name"></p>
                <p id="partner_email"></p>
                <p id="partner_phone"></p>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">
                  Joined competitions per month: <span id="partner_join"></span>
                </h5>
                <div class="partner-commission">
                  <h4 class="fw-semibold mb-3 text-primary fs-4">
                    <span id="partner_total_joined"></span>
                  </h4>
                  <canvas id="myDoughnutChart" width="200" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title fw-semibold mb-4 w-50">List of Customers</h5>
                  <div class="input-group mb-3 w-25">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..."
                      aria-label="Search..." aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><i class="ti ti-search"></i></span>
                  </div>
                </div>
                <div class="table-responsive table-option">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ID</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">CreatedAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Email</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Phone</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Day</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Week</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Month</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Review</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="all-customer-list">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/assets/js/app.min.js"></script>
  <script src="src/assets/js/partners.js"></script>
  <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="src/assets/js/header.js"></script>
  <script src="src/assets/js/sidebarmenu.js"></script>
</body>

</html>
