<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}}</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <div class="card">
          <div class="row">
            <div class="col-4">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">User information</h5>
                <div id="user_info" class="card">
                  <img src="src/assets/images/products/s4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and
                      make up the bulk of
                      the
                      card's content.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Advanced verification</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/assets/js/sidebarmenu.js"></script>
  <script src="src/assets/js/app.min.js"></script>
  <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>
