<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}} - FXChampionship - A Gathering Place for World-Class Traders</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />
  <meta name="description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta name="keywords"
    content="Trader competition prizes, Trading competition entry fee, Professional trading environment, Investment opportunities, Million-dollar investments,Profit sharing, Trader training program, Hedge fund trading, Banking sector opportunities, Financial competition rewards">
  <meta property="og:type" content="website">
  <meta property="og:title" content="FXChampionship - A Gathering Place for World-Class Traders">
  <meta property="og:description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta property="author" content="fxchampionship.com">
  <meta property="generator" content="fxchampionship.com">
  <meta property="og:url" content="https://fxchampionship.com">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image" content="src/assets/images/logos/apple-touch-icon.png">
  <meta property="og:image:alt" content="FXChampionship - A Gathering Place for World-Class Traders">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <div class="card">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">User information</h5>
                <div id="user_info" class="card">
                  <input type="file" id="avatarInput" accept="image/*" style="display: none;">
                  <label for="avatarInput" id="uploadLabel" style="cursor: pointer;">
                    <img id="avatarImage" class="img-avata w-100" alt="Avatar">
                  </label>
                  <div class="card-body">
                    <h5 class="card-title" id="userinfo_name"></h5>
                    <p class="card-text m-0" id="userinfo_email"></p>

                    <div id="userinfo_description"></div>
                    </textarea>
                    <button id="user_info_updated" type="submit" class="btn btn-secondary w-100 mt-3">Save</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="card-body">
                <h5 class="card-title fw-semibold">Advanced verification</h5>
                <span id="indentify_status"></span>
                <div id="indentify_form" class="row mt-3">
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 mt-3">
                    <h5 class="card-title fw-semibold">Add Payment Methob</h5>
                    <form class=" mt-3">
                      <div class="input-group mb-3">
                        <span class="input-group-text w-50">
                          Bank name
                          <span class="ms-1 text-danger">(*)</span>
                        </span>
                        <input id="bank_name" type="text" class="form-control" placeholder="Bank name"
                          aria-label="Bank name" aria-describedby="basic-addon1">
                        <span id="fb_bank_name"></span>
                      </div>
                      <div class="input-group mb-3">
                        <label class="input-group-text w-50" for="inputGroupSelect01">Account type</label>
                        <select class="form-select" id="is_card">
                          <option selected value="0">Account number</option>
                          <option value="1">Card number</option>
                        </select>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text w-50">Bank Account No
                          <span class="ms-1 text-danger">(*)</span>
                        </span>
                        <input id="account_number" type="text" class="form-control" placeholder="Bank Account No"
                          aria-label="Account number" aria-describedby="basic-addon1">
                        <span id="fb_account_number"></span>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text w-50">Account Name
                          <span class="ms-1 text-danger">(*)</span>
                        </span>
                        <input id="account_name" type="text" class="form-control" placeholder="Account Name"
                          aria-label="Bank name" aria-describedby="basic-addon1">
                        <span id="fb_account_name"></span>
                      </div>
                      <span id="create_payment_methob_msg"></span>
                      <button id="submit_payment_methob" type="button"
                        class="btn btn-secondary w-100 mt-2">Submit</button>
                    </form>
                  </div>
                  <div class="col-lg-8 mt-3">
                    <h6 class="card-title fw-semibold">Payment Methob List</h6>
                    <div id="payment_methob_list" class=" mt-3"></div>
                    <span id="payment_methob_msg"></span>
                  </div>
                </div>
                <div id="payment_methob_form" class="row mt-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/assets/js/app.min.js"></script>
  <script src="src/assets/js/user.js"></script>
  <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="src/assets/js/header.js"></script>
  <script src="src/assets/js/sidebarmenu.js"></script>
</body>

</html>
